.clubs-section {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.clubs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    column-gap: 30px;
    row-gap: 30px;
}

.clubs-box {
    position: relative;
    flex: 1;
    padding: 0;
    height: auto;
    flex-grow: 1;
    border: none;
    background-color: white;
    transition: transform 0.5s;
}

.clubs:hover {
    transform: scale(1.1);
}

.clubs-text {
    font-family: "Bebas Neue";
    font-size: min(64px, 10vw);
}

.clubs-title {
    font-family: "Bebas Neue";
    font-size: min(130px, 15vw);
}

.clubs-info {
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 10px;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    transition: background-color 0.5s;
    transition: opacity 0.5s;
    transition: box-shadow 0.5s;
    text-decoration: none;
}

.clubs-page-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.clubs-info:hover {
    opacity: 1;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
}

.clubs-info:hover .clubs-description {
    transform: translateY(0);
    overflow: hidden;
    opacity: 1;
}

@media (min-width: 800px) and (max-width: 1000px) {
    .experiments {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .clubs {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 599px) {
    .clubs {
        grid-template-columns: 1fr 1fr;
    }
}
