.main-section {
    margin-left: 8px;
    margin-right: 8px;
}

.welcome-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #203260;
    margin-bottom: 10px;
    height: clamp(80px, 14vw, 140px);
}

.welcome {
    font-family: "Bebas Neue";
    font-size: clamp(60px, 10vw, 100px);
    color: white;
}


.intro-container {
    display: flex;
    background-color: none;
    border-radius: 20px;
    align-items: center;
    width: 100%;
    height: 500px;
    padding: 0 0 0 10px;
    background-color: none;
}

.intro-description {
    font-family: "Roboto", Arial;
    margin: 10px 30px 30px 30px;
    font-size: clamp(12px, 1.5vw, 1.5vw);
    display: inline-block;
    color: rgb(0, 0, 0);
    line-height: min(3vw, 55px);
    flex: 1;
    padding: 15px;
}

.intro-image {
    height: 40vw;
    max-height: 370px;
    margin: none;
    border-radius: 20px;
}

.intro-image-container {
    height: 40vw;
    max-height: 370px;
}

@media (max-width: 1350px) {
    .intro-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;
        padding-left: 0;
        height: auto;
    }
}

.about-us-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    overflow: hidden;
    padding: min(100px, 5vw) 0 min(100px, 7vw) 0;
}

@media (max-width: 1300px) {
    .about-us-grid {
        grid-template-rows: 1fr 2fr;
        flex-direction: column-reverse;
    }
}

.about-us {
    font-size: min(130px, 15vw);
    font-family: "Bebas Neue", Arial;
    text-align: center;
}

.about-us-description {
    position: relative;
    font-family: "Roboto", Arial;
    line-height: min(3vw, 55px);
    padding:0 3% 0 3%;
    font-size: clamp(12px, 1.5vw, 1.5vw);
    flex: 1;
}


.cern-home-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 0.6vw;
    color: #203260;
    font-weight: 600;
    border: 2px, solid #203260;
    border-radius: 12px;
    margin-bottom: 2vw;
    transition: background-color 0.4s;
}

.cern-home-link:hover {
    background-color: #203260;
    color: white;
}

.engin-home-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 0.6vw;
    color: #5a8746;
    font-weight: 600;
    border: 2px, solid #5a8746;
    border-radius: 12px;
    margin-bottom: 2vw;
    transition: background-color 0.4s;
}

.engin-home-link:hover {
    background-color: #5a8746;
    color: white;
}
